@font-face {
    font-family: 'Droid';
    src: url('/fonts/webfonts/alfont_com_DroidNaskh-Bold.ttf') format('woff2')
    
    /* Add more src URLs for different font file formats if necessary */
}
body {
    font-family: Droid;
}

.table_image
{
    width: 50px;
    height: 50px;
}
.form_group_input
{
    margin-bottom: 10px;
}
.plus_i_class
{
    color: #fff;
}
.product_radio_class
{
    margin-top: 24px;
}
.display_none
{
    display: none;
}
.module_image
{
    width: 150px;
    height: 150px;
}

.header-left #toggle_btn {
    background: #8845BC;
}

.user-menu.nav > li > a .badge {
    background: #8845BC;

}
.add-icon a {
    background: #1F85AB;

}
.sidebar .sidebar-menu > ul li.active svg {
    color: #1F85AB;
}
.sidebar .sidebar-menu > ul > li.submenu-open ul > li.active a {
    color: #8845BC;
}
.sidebar .sidebar-menu .submenu-open .submenu ul li a:hover
{
    color: #9459C1;
}
.sidebar .sidebar-menu > ul > li.submenu-open ul li a:hover
{
    color: #9459C1;
}
.pagination li.active a.page-link
{
    background: #1F85AB;
    border-color: #146482;
}
.page-header .btn-added
{
    background: #8845BC;
}
.customizer-links{
    display: none;
}
.btn-submit
{
    background: #8845BC;
}
.btn-cancel
{
    background: #7d8386;
}
.btn-submit:hover
{
    background: #6e8792;
}
.header-left #toggle_btn:hover
{
    background: #7923bb;
}
.ribbon.ribbon-primary
{
    background: #0376A2;
}
.form-group input[type="text"]:focus
{
    border-color: #8A48BC;
    background: #fff9f9;
}

 /* need to check */
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus,
.selection:focus,
.select2:focus {
    border-color: #8A48BC;
    background: #fff9f9;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
{
    background: #6BA8BF;
}
.select2-container--focus .select2-selection--single {
    border-color: #8A48BC;
    background: #fff9f9;
}
.form-control:focus {
    border-color: #8A48BC;
}
.checkboxs input:checked ~ .checkmarks
{
    background-color: #8845BC;
}
.form-check-input:checked
{
    background-color: #2286ad;
    border-color: #0e3979;
}
h1
{
    font-size: 24px;
}
.bootstrap-tagsinput .tag
{
    background-color: #8845BC;

}
.badges_table
{
    font-size:10px!important;
    min-width: 36px!important;
}