/* Add CSS to style the radio buttons when they are checked */
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #f0f0f0;
}

/* Add any other styling you need */
.pos_item_td
{
    font-size: 16px;
    padding: 10px;
    width: 72px;
}